.App {
  text-align: center;
}

.App-logo {
  pointer-events: none;
  margin-right: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  color: white;
  font-weight: bold;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
}