body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

p{
  margin-top: 0;
  margin-bottom: 0.5rem;
}